@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://unpkg.com/purecss@1.0.0/build/pure-min.css');
@import "https://cdn.rawgit.com/google/code-prettify/master/styles/desert.css";



.p {
    padding-left: 10px!important;
}


#lightGreyStyle {
    color: #9D9A9A;
    border: 3px solid #9D9A9A;
    text-shadow: 1px 2px 2px #9D9A9A;
    box-shadow: 2px 2px 7px 1px #9D9A9A;
}


#bodyFont {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    word-spacing: 1px;
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}


#mainbody {
    margin-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 0px solid;
}



/* Serialio Colors */
.lYellow {color:#FFF4AF;}
.sYellow {color:#FCDB0A;}
dYellow {color:#FBC400;}
.lGreen {color:#72DC89;}
.sGreen {color:#28BF49;}
.mGreen {color:#01851E;}
dGreen {color:#00420F;}
.lRed {color:#FFF2F4;}
.mRed {color:#E54E4B;}
.sRed {color:#AF2828;}
.bRed {color:#E41B23;}
.dRed {color:#630000;}
.fGrey {color:#F3F3F3;}
.lGrey {color:#B0B0B0;}
.mGrey {color:#7A7A7A;}
.sGrey {color:#333538;}
.dGrey {color:#252525;}
.ddGrey {color:#131518;}
.lBlue {color:#4289C3;}
.sBlue {color:#1943A4;}
.bBlue {color:#053CC5;}
.mBlue {color:#00426D;}
.dBlue {color:#092565;}
.cihBlue {color:#00ADEE;}
.plainColor {color:#FAFAFA;}





/* Links */
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}
a:link {
    color: #2E67F7;
}
a:visited {
    color: #053CC5;
}
a:hover {
    color: red;
    outline-width: 0
}
a:active {
    color: #8D0E0E;
    outline-width: 0
}






/* Headers */
h1 {
    font-size: 40px;
    font-weight: bold;
}
h2 {
    font-size: 28px;
    font-weight: bold;
}
h3 {
    font-size: 24px;
    font-weight: bold;
}
h4 {
    font-size: 20px;
    font-weight: bold;
}
h5 {
    font-size: 18px;
    font-weight: bold;
}
h6 {
    font-size: 16px;
    font-weight: bold;
}






/* Unordered List */
ul.circle {
    list-style-type: circle inside;
}

ul.square {
    list-style-type: square inside;
}

ul.disc {
    list-style-type: disc inside;
}

ul.none {
    list-style-type: none inside;
}







/* Ordered List */
ol.num {
    list-style-type: decimal inside; 
}

ol.lowerroman {
    list-style-type: lower-roman inside;
}

ol.upperroman {
    list-style-type: upper-roman inside;
}

ol.loweralpha {
    list-style-type: lower-alpha inside;
}

ol.upperalpha {
    list-style-type: upper-alpha inside;
}

ol.none {
    list-style-type: none;
}


/* Fancy List (.f) */
ol.f {
    color: #000000;
    list-style-type: none;
}

ol.f li.f {
    position: relative;
    font: bold italic 50px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 60px;
    color: #E54E4B;
}

li.f p {
    font: 16px/1.5 Helvetica, sans-serif;
    padding-left: 60px;
    color: #000;
}



span.a {
    position: absolute;
}





/* Comment */
.comment {
    border-left: 5px solid #7A7A7A!important;
    background-color: #F3F3F3;
    padding: 10px!important;
    color: #252525;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: Arial, sans-serif;
}







/* Tip */
.tip {
    border-left: 4px solid #4CAF50!important;
    background-color: #DDFFDD;
    padding: 5px!important;
    color: #00420F;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: Arial, sans-serif;
}



/* Info */
.information {
    border-left: 5px solid #2196F3!important;
    background-color: #D7F2FF;
    padding: 5px!important;
    color: #252525;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: Arial, sans-serif;
}



/* Warning */
.warning {
    border-left: 5px solid #FFEB3B!important;
    background-color: #FFFFCC;
    padding: 5px!important;
    color: #252525;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: Arial, sans-serif;
}



/* Critical */
.critical {
    border-left: 5px solid #E54E4B!important;
    background-color: #FFF2F4;
    padding: 5px!important;
    color: #000000!important;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: Arial, sans-serif;
}




/* Code Block ++ */
.codeBlock {
    margin-left: 35px;
    width: 50%;
    border-left: 15px solid #333538!important;
    background-color: #F3F3F3;
    padding: 15px!important;
    color: #333538!important;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: monospace, Courier, sans-serif;
}





/* Terminal Block */
.terminalBlock {
    margin-left: 35px;
    width: 50%;
    border-left: 10px solid #7A7A7A!important;
    background-color: #131518;
    padding: 15px!important;
    color: #F3F3F3!important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: monospace, Courier, sans-serif;
}




/* Configuration Block */
.configBlock {
    border: 1px solid #AAAAAA!important;
    background-color: #F3F3F3;
    padding: 10px!important;
    color: #252525!important;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: Arial, sans-serif;
}





/* Description Block */
.desBlock {
    border: 1px solid #7A7A7A!important;
    background-color: #F3F3F3;
    padding: 10px!important;
    color: #7A7A7A!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
}





/* Requirements Block */
.reqBlock {
    border: 1px solid #E54E4B!important;
    background-color: #FFF2F4;
    padding: 10px!important;
    color: #000;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    font-family: Arial, sans-serif;
}





/* Definition */
dfn {
    font-style: italic
}





/* Mark */
mark {
    background: #ff0;
    color: #000
}






/* Section */





/* Paragraph */





/* Steps Section */




/* Requirements */




/* Terminal */




/* Related Content Section */




/* Aside */





/* Tooltip */
